# Python Exercises - Easy Level

These exercises test basic Python concepts including:
- Variables and data types
- Basic arithmetic operations
- Simple functions
- Basic conditionals
- String operations
- Lists and basic operations

**Instructions:** Complete each exercise by writing Python code in the provided cells.

## Question 1: Variables and Data Types

Create variables for the following:
- `name` (string): Your name
- `age` (integer): Your age
- `height` (float): Your height in meters
- `is_student` (boolean): Whether you are a student

Print each variable along with its type.

In [21]:
# variables and data types 

Name = "Noor Nehal Tanzim"
print(Name)
print(type(Name))

Age = 22
print(Age)
print(type(Age))

Height = 5.8
print(Height)
print(type(Height))

is_student = True
print(is_student)
print(type(is_student))

Noor Nehal Tanzim
<class 'str'>
22
<class 'int'>
5.8
<class 'float'>
True
<class 'bool'>

## Question 2: Basic Arithmetic

Given two numbers `a = 15` and `b = 4`, calculate and print:
- Sum
- Difference
- Product
- True division
- Floor division
- Remainder (modulus)
- `a` raised to the power of `b`

In [22]:
a = 15
b = 4

s = a + b
print("sum ",s)

diff = a - b
print("difference ",diff)

p = a * b
print("prooduct",p)

t_division = a / b
print("true division",t_division)

f_division = a // b
print("floor division",f_division)

rem = a % b
print("Remainder ",rem)

pow1 = a ** b
print(pow1)
print(pow(a,b))

sum  19
difference  11
prooduct 60
true division 3.75
floor division 3
Remainder  3
50625
50625

## Question 3: Simple Function

Write a function called `greet_user` that:
- Takes a name as a parameter
- Returns a greeting message like "Hello, [name]!"
- Test it with your name

In [23]:
def greet_user(n):
    print("Hello, ",n)
    
greet_user("Nehal")

Hello,  Nehal

## Question 4: Basic Conditionals

Write a function called `check_number` that:
- Takes a number as input
- Returns "positive" if the number is greater than 0
- Returns "negative" if the number is less than 0
- Returns "zero" if the number equals 0

Test with numbers: 5, -3, 0

In [24]:
A = int(input("Enter a number: "))

if A > 0:
    print("Positive")
    
elif A < 0:
    print("Negative")
    
else:
    print("Zero")

ValueError: invalid literal for int() with base 10: ''

## Question 5: String Operations

Given the string `text = "Python Programming"`, perform the following operations:
- Print the length of the string
- Convert to uppercase
- Convert to lowercase
- Check if it starts with "Python"
- Replace "Programming" with "is Fun"

In [ ]:
text = "Python Programming"

print(len(text))

print(text.upper())

print(text.lower())

if text.startswith("Python"):
    print("Yes")
    
print(text.replace("Programming", "is fun"))

18
PYTHON PROGRAMMING
python programming
Yes
Python is fun

## Question 6: Basic Lists

Create a list called `fruits` with the following items: "apple", "banana", "orange", "grape"

Then:
- Print the first fruit
- Print the last fruit
- Add "mango" to the end of the list
- Print the length of the list
- Check if "banana" is in the list

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]

print(fruits[0])

print(fruits[3])

fruits.insert(4,"mango")
print(fruits)

print(len(fruits))

if "banana" in fruits:
    print("Banana is in fruits list")

apple
grape
['apple', 'banana', 'orange', 'grape', 'mango']
5
Banana is in fruits list

## Question 7: Simple Loop

Write a function called `count_to_n` that:
- Takes a number `n` as input
- Prints all numbers from 1 to n (inclusive)
- Test it with n = 5

In [ ]:
def count_to_n(n):
    for i in range(1, n + 1):
        print(i)
    
count_to_n(5)

1
2
3
4
5

## Question 8: Using Built-in Functions

Given the list `numbers = [3, 7, 1, 9, 4, 6, 2]`, use built-in functions to find:
- The maximum value
- The minimum value
- The sum of all numbers
- The length of the list
- A sorted version of the list (without modifying the original)

In [ ]:
numbers = [3, 7, 1, 9, 4, 6, 2]

print(max(numbers))

print(min(numbers))

print(sum(numbers))

print(len(numbers))

print(sorted(numbers))

9
1
32
7
[1, 2, 3, 4, 6, 7, 9]

## Question 9: String Formatting

Create variables for a person's information:
- `person_name = "Alice"`
- `person_age = 25`
- `person_city = "New York"`

Use string formatting to create and print a message: "Hello, my name is Alice, I am 25 years old and I live in New York."

In [ ]:
person_name = "Alice"
person_age = 25
person_city = "New York"

print(f"Hello, my name is  {person_name}, I am {person_age} years old and i live in {person_city}.")

Hello, my name is  Alice, I am 25 years old and i live in New York.

## Question 10: Simple Calculator

Write a function called `simple_calculator` that:
- Takes three parameters: `num1`, `operator` (as a string: "+", "-", "*", "/"), and `num2`
- Returns the result of the operation
- Test with: 10, "+", 5 and 20, "/", 4

In [ ]:
def simple_function(num1, operator, num2, result):
    print(f"{num1} {operator} {num2} = {result}")
    
num1 = int(input())
operator = input()
num2 = int(input())
result = num1 + num2 if operator == "+" else num1 - num2 if operator == "-" else num1 * num2 if operator == "*" else num1 / num2 if operator == "/" else "invalid" 

simple_function(num1,operator,num2,result)

20 / 4 = 5.0